<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基于接口的增删改查， 开启了二级缓存 -->
<mapper namespace="com.xx.ssm.dao.IRoleDataDao">
	<!-- 配置java对象的属性与列的映射 -->
	<resultMap type="RoleData" id="resultList">
		<id column="id" property="id" />
		<result column="nodename" property="nodeName" />
		<result column="roleid" property="roleId" />
		<result column="userid" property="userId" />
	</resultMap>

	<insert id="addUserRole" >
		insert into roledata(nodename,roleid,userid)values(#{nodeName},#{roleId},#{userId});
	</insert>
	<select id="selectUserRole" resultMap="resultList">
		select * from roledata;
	</select>
	<select id="selectUserByName" resultMap="resultList">
		select * from roledata where nodename=#{nodeName}
	</select>
</mapper>